{% extends "testlink/main.html" %}
{% block title %}
Blog
{% endblock title %}
{% block link %}
{% load static %}
<h1>Our Projects inlude</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat impedit eius of
    ficia, nulla ipsam, consequatur voluptatem et, fugiat eum repudiandae odio odit cup
    iditate veritatis. Eius aut doloremque ab corporis, accusantium pariatur quos quisq
    uam maiores hic, magnam, vero quia distinctio dolor laudantium facilis enim qu
    idem dicta! Neque excepturi eius voluptas ipsum vero, natus delectus! Eligendi, arc
    hitecto dignissimos? Laborum quidem tenetur incidunt quae hic voluptatem ass
    umenda eos ad aliquam quasi distinctio sint ut, quis impedit inventore consequatur ill
    um? At ea eveniet itaque ipsa ipsam officia voluptatem similique dolor
    ibus delectus commodi voluptates culpa voluptatibus iusto quaerat tenetur odit asper
    iores eligendi temporibus necessitatibus inventore provident ipsum, voluptas eius. Re
    m, molestias incidunt. Voluptates ad nesciunt ea sapiente vel, distinctio similique in od
    io aliquid non provident magnam perspiciatis a assumenda tempora quas exercita
    harum laudantium sapiente! Sapiente possimus labore a aliquid excepturi esse odio, vero qua
    si asperiores dolor animi laboriosam earum. Officiis quaerat quos nulla voluptatib
    m eius cupiditate quidem atque, a harum repudiandae porro odio aspernatur dicta in offici
    is cumque velit maxime deserunt adipisci earum esse! Inventore fuga et adipisci qua
    e. Similique nesciunt nulla sunt.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat impedit eius of
    ficia, nulla ipsam, consequatur voluptatem et, fugiat eum repudiandae odio odit cup
    iditate veritatis. Eius aut doloremque ab corporis, accusantium pariatur quos quisq
    uam maiores hic, magnam, vero quia distinctio dolor laudantium facilis enim qu
    idem dicta! Neque excepturi eius voluptas ipsum vero, natus delectus! Eligendi, arc
    hitecto dignissimos? Laborum quidem tenetur incidunt quae hic voluptatem ass
    umenda eos ad aliquam quasi distinctio sint ut, quis impedit inventore consequatur ill
    um? At ea eveniet itaque ipsa ipsam officia voluptatem similique dolor
    ibus delectus commodi voluptates culpa voluptatibus iusto quaerat tenetur odit asper
    iores eligendi temporibus necessitatibus inventore provident ipsum, voluptas eius. Re
    m, molestias incidunt. Voluptates ad nesciunt ea sapiente vel, distinctio similique in od
    io aliquid non provident magnam perspiciatis a assumenda tempora quas exercita
    harum laudantium sapiente! Sapiente possimus labore a aliquid excepturi esse odio, vero qua
    si asperiores dolor animi laboriosam earum. Officiis quaerat quos nulla voluptatib
    m eius cupiditate quidem atque, a harum repudiandae porro odio aspernatur dicta in offici
    is cumque velit maxime deserunt adipisci earum esse! Inventore fuga et adipisci qua
    e. Similique nesciunt nulla sunt.
</p>
<img src="{% static 'Images/luffy (2).png' %}" height="450" width="300">
{% endblock link %}<h1>linking</h1>
